body {
  display: grid;
  place-items: center;
  height: 100vmin;
}

.App {
  text-align: center;
  display: flex;
  gap: 1em;
}

.toggles {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.chart-container {
  display: flex;
  gap: 1em;
  flex-direction: column;
  text-align: start;
}

.chart-container > div, h1, h3 {
  line-height: 1;
  margin-top: 0;
}

.bar-chart {
  border-radius: 10px;
}

.bar-chart--border {
  border-radius: 10px;
  border: 1.5px solid black;
}

.bar {
  fill: orange;
}

.label {
  font-size: 1em;
}

.category {
  text-anchor: end;
}

.x-label, .y-label {
  font-size: 1.25em;
}