.App {
  text-align: center;
  display: flex;
  gap: 1em;
}

.toggles {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.toggle-container {
  display: flex;
  flex-direction: column;
  gap: .3em;
  width: 120px;
}

.toggle-container > p {
  line-height: 1;
  margin: 0;
}

.chart-container {
  display: flex;
  gap: 1em;
  flex-direction: column;
  text-align: start;
}

.bar-chart {
  border-radius: 10px;
  background-size: contain !important;
}

.x-label, .y-label {
  font-size: 1.2em;
}